.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    max-width: 90%;  
    margin: 0 auto;  
}

.logo-name{
   
    font-size: xx-large;
    font-family: monospace;
    font-style: oblique;
    font-weight: 700;
}


.header-links{
    
    display: flex;
    justify-content: space-between;
    
    justify-items: center;
    align-items: center;
}

.header-links p{
    font-size: 23px;
    font-family: monospace;
    font-style: oblique;
    font-weight: 700;
    margin: 0 10px;
}

.login-button{
    padding: 13px 31px 13px 31px;
    border: 2px solid #d8d8d7;
    border-radius: 33px;
}